[template]
src = "content.tmpl"
dest = "{{ getv "/path" }}"
uid = {{ getv "/uid" 0 }}
gid = {{ getv "/gid" 0 }}
mode = "{{ getv "/mode" "0644"} }"
keys = [
    "/content"
]
check_cmd = "{{ getv "/check_cmd" "" }}"
reload_cmd = "{{ getv  "/reload_cmd" "" }}"
